{% extends "layout.html" %}
{% load static %}

{% block title %}
Detalles de libro
{% endblock %}

{% block main %}
<main>
    <section id="book-description">
        <img src="{{ libro.cover_url }}" alt="{{ libro.title }}" id="libro-photo">
        <h1>{{ libro.title }}</h1>
        <h2>{{ libro.authors.0.name }}</h2>
        <p id="book-summary">{{ libro.description }}</p>
        <div class="like-dislike">
            <i class='bx bxs-like' id="like-button"></i> <span class="like-count" id="like-count">0</span>
            <i class='bx bxs-dislike' id="dislike-button"></i> <span class="dislike-count" id="dislike-count">0</span>
        </div>
    </section>
    <section id="comments-section">
        <h3>Comentarios</h3>
        <div id="comments">
            <!-- Los comentarios se insertarán aquí dinámicamente -->
        </div>
        <form id="comment-form">
            <textarea id="new-comment" placeholder="Escribe tu comentario aquí..." required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </section>
</main>
{% endblock %}