{% extends "layout.html" %}
{% load static %}

{% block title %}
Inicio
{% endblock %}

{% block main %}
<!-- Carrusel -->
<div class="carrusel">
    {% for libro in libros_random %}
    <div class="carrusel-item {% if forloop.first %}active{% endif %}">
        <div class="imagen-fondo">
            <img src="{% static 'images/background.jpg' %}" alt="Fondo">
        </div>
        <div class="contenido-libro">
            <div class="portada-libro">
                <img src="{{ libro.cover_url }}" alt="Portada del Libro">
            </div>
            <div class="descripcion-libro">
                <h3>{{ libro.title }}</h3>
                <p>{{ libro.first_sentence }}</p> <!-- Ajusta este campo según la descripción disponible -->
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    <div class="carrusel-dots">
        <!-- Los puntos para navegación del carrusel -->
    </div> 

    <!-- Agrega esta sección al final de tu body --> 
    <div class="texto-encabezado">
        <h2>Explora Nuestros Libros</h2>
        <p>Descubre una amplia selección de libros recomendados para ti según tus intereses.</p>
    </div>    

    <section class="libros">
        <div class="fila-libros">
            {% if libros %}
                {% for libro in libros %}
                    <div class="libro">
                        <a href="{% url 'detalle_libro' libro.key|slice:'7:' %}">
                            <img src="{{ libro.cover_url }}" alt="{{ libro.title }}">
                        </a>
                        <p>{{ libro.title }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No se encontraron libros.</p>
            {% endif %}
        </div>
    </section>    
{% endblock %}