{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
</head>

<body>
    <nav>
        <!-- Navegación similar a tu ejemplo -->
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen'></i>
            <span class="logo navLogo"><a href="{% url 'index' %}">BookLand</a></span>
            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="{% url 'index' %}">BookLand</a></span>
                    <i class='bx bx-x siderbarClose'></i>
                </div>
                <ul class="nav-links">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'mis_libros' %}">Mis libros</a></li>
                    <li><a href="{% url 'geners' %}">Generos</a></li>
                    <li><a href="{% url 'writers' %}">Escritores</a></li>
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                </ul>
            </div>
            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>
                <div class="searchBox">
                    <div class="searchToggle">
                        <i class='bx bx-x cancel'></i>
                        <i class='bx bx-search search'></i>
                    </div>
                    <div class="search-field">
                        <form method="GET" action="">
                            <input type="text" name="q" placeholder="Buscar..." value="{{ request.GET.q|default:'' }}">
                            <i class='bx bx-search'></i>
                        </form>
                    </div>
                    <div class="logo-user">
                        <a href="{% url 'foto' %}">
                            <i class='bx bx-user-circle'></i>                            
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block main %}
    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/carrusel.js' %}"></script>
</body>

</html>